<!-- add new order -->
<div class="add_new_order_from_orderes">
    <div class="close">X</div>
    <h2>Dodaj nowe zamówienie</h2>
    <div class="form_add_order">
        <form action="/addOrder" method="POST" autocomplete="off" class="handler_form_add_new_order">
            <div class="wrapper">
                <div class="one">
                    <label for="name">Podaj nazwę detalu<span class="text_valid_item valid"></span></label> 
                    <input type="text" id="name" name="name" value="" required class="input item">
                </div>
                <div class="one">
                    <label for="fileNo">Podaj numer rysunku</label>
                    <input type="text" id="fileNo" name="fileNo" required>
                </div>
                <div class="one">
                    <label for="material">Podaj rodzaj materiału</label>
                    <input type="text" id="material" name="material" required>
                </div>
                <div class="one">
                    <label for="material">Podaj ilość sztuk</label>
                    <input type="text" id="count" name="count" required>
                </div>
                <div class="one">
                    <label for="material">Wybierz kolor</label>
                    <input type="text" id="color" name="color" required>
                </div>
                <div class="one">
                    <label for="material">Podaj projekt</label>
                    <input type="text" id="project" name="project">
                </div>
                <div class="one">
                    <label for="material">Podaj link do bryły</label>
                    <input type="text" id="model" name="model">
                </div>
                <button type="submit" class="save_new_order primary"> Dodaj zlecenie</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/popUpNewOrder.js"></script>