<link rel="stylesheet" href="/css/main_nav_addons.css">

    <div class="main_nav_addons">
        <i class='bx bxs-file-blank' ></i> 
        <div>
            <p class="title">Drukexa Soft</p>
            <p class="subtitle">Bo wydruki 3D to nasza pasja</p>
        </div>
    </div>
    <div class="search">
        
    </div>
    <div class="settings">
        <div class="icon_settings">
            <i class='bx bxl-digitalocean'></i>
        </div>
    </div>
    
