
    <div class="main_nav_addons">
        <i class='bx bxs-file-blank' ></i> Lista wszystkich zamówień
    </div>
    <div class="search">
        <input type="search" name="search_nav" id="" class="search-nav">
    </div>
    <div class="settings">
        tutaj będą ustawienia
    </div>
    
