
<p>Lista detali do druku</p>

    <% result.forEach(item => { %>
    <div><strong><%= item.name %> </strong> <span><%= item.fileNo %></span> </div>
    <% }); %>

    <a href="/">Powrót do strony głównej</a>
