<%- include('./partials/header'); -%>

<div class="main_wrapper">
    <div class="sidebar">
        <%- include('./partials/sidebar'); -%>
    </div>
    <div class="main">
        <div class="nav">
            nawigacja tutaj będzie
        </div>
        <div class="main-content">
            <%- include('./partials/main_content'); -%>
        </div>
    </div>
     
</div> 

<%- include('./partials/footer'); -%>

