<%- include('./partials/header'); -%>

    <p>Działają szablony</p>
    <li><%= variable %></li>
    <a href="/createOrder">Dodaj nowe zamówienie</a> </br>
    <a href="/showOrders">Pokaż listę zamówień</a> </br>
    <a href="/editOrder">Edytuj listę zamówień</a> </br>
    

    <% if(user) { %>
        <p> Witaj <%= user %> </p>
        <p><a href="/logout"> Wyloguj </a></p>
    <% } else { %>
        <a href="/login.html">Zaloguj</a>
     <% } %> 

<%- include('./partials/footer'); -%>

