


    <p>Tekst z głównego contextu</p>

    <a href="/createOrder"><button>Dodaj nowe zamówienie</button></a> </br>
    <a href="/showOrders"><button>Pokaż listę zamówień</button></a> </br>
    <a href="/editOrder"><button>Edytuj listę zamówień</button></a> </br>
    



