<link rel="stylesheet" href="/css/orders.css">

<div class="table_filtr">
    <div class="add_btn">
        <button class="primary">Dodaj zlecenie</button>
        <p class="order_list_title">Lista zamówień ZD</p>
    </div>
    <div class="filters_orders">
        <div class="filter_group_1">
            <div class="search_name">
                <input type="search" name="" id="" placeholder="szukaj po nazwie">
                <input type="search" name="" id="" placeholder="szukaj po nr rys">
                <div class="select_machine_wrapper">
                    <select name="" id="" class="choose_machine">
                        <option value="Markforged">Markforged</option>
                        <option value="Ubot S320">Ubot S320</option>
                        <option value="Ubot Tower S+">Ubot Tower S+</option>
                        <option value="Urbicum">Urbicum</option>
                    </select>
                </div>
                <div class="select_machine_status">
                    <select name="" id="" class="choose_machine">
                        <option value="Markforgedd">Wydane z WZ</option>
                        <option value="Markforged">Zrealizowane</option>
                        <option value="Ubot S320">W realizacji</option>
                        <option value="Ubot Tower S+">Przygotowane</option>
                        <option value="Urbicum">Nowe zamówienie</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th nowrap></th>
            <th nowrap>Nr ZD</th>
            <th nowrap>Nazwa</th>
            <th nowrap>Nr rys</th>
            <th nowrap>Status</th>
            <th nowrap>Maszyna</th>
            <th nowrap>Materiał</th>
            <th nowrap>Kolor</th>
            <th nowrap>Data rozpoczęcia</th>
            <th nowrap>Data zakończenia</th>
            <th nowrap>Ilość</th>
            <th nowrap>Czas [h]</th>
            <th nowrap>Bryła</th>
            <th nowrap>G-code</th>
            <th nowrap>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        <% result.forEach(item => { %>
            <tr class="order_list">
                <td nowrap><input type="checkbox" name="" id=""></td>
                <td nowrap>ZD/245-1</td>
                <td nowrap><%= item.name %></td> 
                <td nowrap><div class="drugi"><%= item.fileNo %></div></td> 
                <td nowrap><p class="status">W realizacji</p></td> 
                <td nowrap>Markforged</td> 
                <td nowrap>Onyx + CF</td> 
                <td nowrap>Black</td> 
                <td nowrap>16:30 2021-10-26</td> 
                <td nowrap>10:15 2021-10-27</td> 
                <td nowrap>1 szt</td> 
                <td nowrap>15:30</td> 
                <td nowrap>Link</td> 
                <td nowrap>Pobierz</td> 
                <td nowrap class="edit">Edytuj</td> 
            </tr>
        <% }); %>
    </tbody> 
</table>

<%- include('../partials/addOrder') %>

