<form action="/addOrder" method="POST">
    <div class="wrapper">
        <label for="name">Podaj nazwę</label>
        <input type="text" id="name" name="name" value="<%= name %>" required>
        <label for="fileNo">Podaj numer</label>
        <input type="text" id="fileNo" name="fileNo" required>
        <input type="submit" value="Dodaj">
    </div>
</form>
<a href="/">Strona główna</a>